+++
title = "Neodymium Documentation"
linkTitle = "Neodymium Documentation"
+++



{{< blocks/cover title="Xceptance Test Center Documentation" height="auto">}}
<!--<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://xtc.xceptance.com/register" target="_blank">
        Get Your Free Account <i class="fas fa-user-plus ml-2 "></i>
    </a>    
</div>-->

<section class="row">
{{% blocks/feature3 icon="fa fa-stopwatch" title="Quick Start" url="test-automation/quick-start" %}}
Start with the quick step by step tutorials giving a quick and easy hands-on introduction to Neodymium's basic features.
    
**Learn more**
{{% /blocks/feature3 %}}

{{% blocks/feature3 icon="fa fa-list-ul" title="Cheat Sheet" url="test-automation/" url_text="Load Testing with XTC"%}}
Get a quick overview on what you can do with neodymium.

**Learn more**
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa fa-magnet" title="Advanced Documentation" url="loadtesting" url_text="Load Testing with XTC"%}}
Deep dive into the advanced features, complex use cases, and detailed configuration, to get the full spectrum of features for optimal test automation.

**Learn more**
{{% /blocks/feature3 %}}

</section>
{{< /blocks/cover >}}