@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/UbuntuMono.woff2') format('woff2'),
    url('../fonts/UbuntuMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 75% 100%;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2'),
    url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}