/*
    Overwritten to make the inner section of the doc wider for better
    code block visibility
*/
.td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 95%;
    }

}

footer {
    a {
        color: scale-color($link-color, $saturation: -20%, $lightness: 50%);
        
        &:hover {
            color: scale-color($link-hover-color, $saturation: 0%, $lightness: 50%);
        }
    }
    
}

.td-content {
    /* give the content less of a hard contrast */
    color: $main-text-color !important;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-headlines;
        margin-bottom: 0.5rem;
    }
    h1, h2 {
        font-weight: 700;
        margin-top: 2rem;
    }
    h3 {
        font-weight: 700;
        margin-top: 2rem;
        font-size:1.8rem;
    }
    h4, h5, h6 {
        font-weight: 400;
    }
    
    h2 {
        border-bottom: 1px solid $gray-400;
        padding-bottom: 0.25rem;
        font-size: 2.3rem;
    }

    h4 {
        font-size:1.35rem;
    }
}

.breadcrumb {
    font-family: $font-family-sidebar;
    font-size: 100%;
}

.td-cover-block {
    /* Give the text on the start page more contrast */
    h1 {
        text-shadow: -1px -1px 20px lighten($dark, 5%), 2px 2px 5px $dark;
        font-size: 450%;
    }
    p.lead {
        text-shadow: -1px -1px 5px lighten($dark, 5%), 2px 2px 5px $dark;
        font-size: 120%;
        color: White !important;
    }
}

.td-navbar {
    /* avoid that the text wraps */
    white-space: nowrap;
    /* use narrow font */
    font-family: $font-family-sidebar;
}

.td-sidebar-nav {
    font-family: $font-family-sidebar;
    font-size: 100%;
    
    ul {
        line-height: 1; /* ensure that when we wrap, the text does not look like a next logical line */
        
        .td-sidebar-link {
            padding-bottom: 0.7rem; /* give the links space in between to make wraped lines easier distinguishable from new lines*/
            padding-left: 0rem;
            
            &:hover {
                color: $link-hover-color; /* this is hardcoded to blue in docsy */
            }
            
            &.active {
                font-weight: 600;
            }
        }
    }    
}

.td-sidebar-nav > .td-sidebar-nav__section {
    padding-top: 1.75rem;
    padding-left: 1rem;
}

.pr-md-3 {
    padding-right:0rem !important;
}

.td-toc {
    font-family: $font-family-sidebar;
    font-size: 100%;
    
    padding-top: 1.5rem;
    padding-left: 0.7rem;

    border-left:0px;
    
    #TableOfContents {
        //padding: 1rem;
        //border: 1px solid $gray-400;
        //border-radius: 4px;
        //background-color: $gray-200;
        a {
            color: $text-color-light;
            
            &:hover {
                color: $link-hover-color;
            }
        }
        ul {
            line-height: 1; /* wrap should be different than a new line aka bullet point*/
            
            li {
                padding-bottom: 0.4rem;
                
                
                li {
                    padding-left: 0.6rem;
                }
            }
            ul {
                padding-top: 0.4rem;
            }
        }
    }

    /* Dim the edit links on the TOC bar */
    .td-page-meta {
        a {
            color: $link-light-color;
            font-size: 90%;
        }
    }
}

/* just to display our TODO */
.todo {
    background-color: Yellow;
 
    &:before {
        content: "TODO";
        margin-right: 0.5rem;
    }
}

.alert {
    //border: 1px solid;
    border-radius: 4px;
}

.lead > code {
    color: $primary;
    font-size: 100%;
    padding: 0px 2px;
}

.td-content li > a > code {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.highlight, .td-content > pre {
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
}

/* Search-Consent Styles: */

#consent-banner {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 300px;
    z-index: 100;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#agree p, #cancel p {
    margin-top: 4px;
}

#agree, #cancel {
    height: 35px;
    background-color: $dark;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    padding: 1px;
}

#agree:hover, #cancel:hover {
    background-color: $primary;
}

#cancel {
    margin-top: 5px;
}

/* Documentation Homepages Styles: */

.td-default main section:first-of-type {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.td-navbar-cover {
    background: $primary !important;

    .nav-link {
            text-shadow: none;
        }
}

.td-cover-block h1 {
    font-size: 300%;
    padding-top: 2rem;
}

.td-box--dark p > a:hover {
    color: #fff;
}

.col-xc {
    padding: 3%;
    float: left;
}

.td-cover-block  .col-xc {
    background-color: rgba(64, 63, 76, 0.6);
}

.col-xc:hover {
    background-color: rgba(220, 220, 220, 0.1); 
}

.col-xc > a {
    color: $light;
}

.col-xc p > a {
    color: #999;
}

.col-xc p > a:hover {
    color: $light;
}

/* from here on down it's all about dropdowns in the navbar */
/*.xc-dropdown-content {
    position: absolute;
    display: none;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5em 0;
    margin: 0px;
    font-size: 1em;
    color: #222;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem;
}

.xc-dropdown-menu:hover .xc-dropdown-content {
    display: block;
}*/

.td-sidebar__toggle {
    color: rgba(255, 255, 255, 0.75);
}

.td-sidebar__toggle:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 767px) {

    .td-sidebar {
        background-color: rgba(160, 0, 0, 0.03);
        border-bottom: 1px solid #dee2e6;
    }
}

@media (hover:none) {

    .td-sidebar {
        background-color: rgba(160, 0, 0, 1);
        border-bottom: 1px solid #dee2e6;
    }
}