/*
    Overwritten to make the inner section of the doc wider for better
    code block visibility
*/
.td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 95%;
    }

}

.td-cover-block {
    /* Give the text on the start page more contrast */
    .lead {
        text-shadow: 1px 1px 2px $dark;
    }
}

.td-toc {
    /* Dim the edit links on the TOC bar */
    .td-page-meta {
        a {
            color: $link-light-color;
            font-size: 90%;
        }
    }
}