a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/*
    Overwritten to make the inner section of the doc wider for better
    code block visibility
*/
.td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 95%;
    }

}

footer {
    a {
        color: scale-color($link-color, $saturation: -20%, $lightness: 50%);

        &:hover {
            color: scale-color($link-hover-color, $saturation: 0%, $lightness: 50%);
        }
    }

}

.td-content {
    /* give the content less of a hard contrast */
    color: $main-text-color !important;
}

.td-cover-block {
    /* Give the text on the start page more contrast */
    h1 {
        text-shadow: -1px -1px 20px lighten($dark, 5%), 2px 2px 5px $dark;
        font-size: 450%;
    }
    p.lead {
        text-shadow: -1px -1px 5px lighten($dark, 5%), 2px 2px 5px $dark;
        font-size: 120%;
        color: White !important;
    }
}

.td-navbar {
    /* avoid that the text wraps */
    white-space: nowrap;
    /* use narrow font */
}

.td-sidebar-nav {
    font-family: $font-family-sidebar;

    ul {
        line-height: 1; /* ensure that when we wrap, the text does not look like a next logical line */

        .td-sidebar-link {
            padding-bottom: 0.5rem; /* give the links space in between to make wraped lines easier distinguishable from new lines*/

        }
    }
}

/* less indentation for menu ins less nav */
@media (min-width: 768px) {
    .td-sidebar-nav__section .ul-1 ul {
        padding-left: 1em;
    }
}

.pr-md-3 {
    padding-right:0rem !important;
}

/* Dim the edit links on the TOC bar */
.td-page-meta {
    a {
        font-weight: normal;
        font-family: $font-family-sidebar;

    }
}

.td-toc {
    font-family: $font-family-sidebar;
}

/* just to display our TODO */
.todo {
    background-color: Yellow;

    &:before {
        content: "TODO";
        margin-right: 0.5rem;
    }
}

.alert {
    //border: 1px solid;
    border-radius: 4px;
}

.lead > code {
    color: $primary;
    font-size: 100%;
    padding: 0px 2px;
}

.td-content p code {
    font-size: 1rem;
}

.td-content li > a > code {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.highlight code {
    font-size: 1rem !important;
}

.highlight, .td-content > pre {
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
}

.image-description {
    color:#999;
    padding-top: 5px;
}

.imagebox {
    width: 95%;
    text-align: center;
    margin: 50px 0px;
}

/* Documentation Homepages Styles: */

.td-default main section:first-of-type {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.td-navbar-cover {
    background: $primary !important;

    .nav-link {
            text-shadow: none;
        }
}

.td-cover-block h1 {
    font-size: 300%;
    padding-top: 2rem;
}

.td-box--dark p > a:hover {
    color: #fff;
}

.col-xc {
    padding: 3%;
    float: left;
}

.td-cover-block  .col-xc {
    background-color: rgba(64, 63, 76, 0.5);
}

.col-xc:hover {
    background-color: rgba(64, 63, 76, 0.8);
}

.col-xc > a {
    color: $light;
}

.col-xc p > a {
    color: #999;
}

.col-xc p > a:hover {
    color: $light;
}

/* overwriting settings from sidebar-tree.scss to use full page length for menu*/
@media (hover:hover) {
    .td-sidebar-nav {
        max-height: calc(100vh - 5rem);
        overflow-y: auto;
    }
}

@media (hover:none) {

    .td-sidebar {
        background-color: rgba(160, 0, 0, 0.03);
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 0px;
    }

    .td-sidebar__toggle {
        color: rgba(64, 63, 76, 0.5) !important;
        padding: 0px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        margin: 0px;
        border: 0px;
        width: 100%;
        text-align: left;
    }

    .dropdown-item {
        padding-top:10px;
        padding-bottom:10px;
    }

    .nav-link {
        padding: 10px;
    }

    .td-sidebar-link {
        padding: 10px;
    }

    .td-sidebar-nav__section > ul {
        padding-left: 0.5rem;
    }
}
