/* XTC and XLT should be white */
.navbar-nav {
    --bs-nav-link-color: #fff;
}

.td-navbar a.navbar-brand {
    font-weight: 500;

    &:hover {
        text-decoration: none !important;
    }
}

/* Give the header a little more space */
.td-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Search box should be white */
.td-search__input:not(:focus) {
    background: White;
}

/* Note */
.alert-info {
    background-color: #d9edf7;
}

/* Tip */
.alert-light {
    background-color: #f5f5f5;
}

/* Warning */
.alert-secondary {
    background-color: #ffdcad;
}

/* Danger */
.alert-danger {
    background-color: #f7c1ba;
}

/* Permissions */
.permission {
    background-color: #dddddd;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: #bbb;
}

.alert>p {
    margin-bottom: 5px;
}


a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*
    Overwritten to make the inner section of the doc wider for better
    code block visibility
*/
.td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 1000px;
    }

}

footer {
    small {
        font-size: 1rem;
    }

    a {
        color: scale-color($link-color, $saturation: -20%, $lightness: 50%);

        &:hover {
            color: scale-color($link-hover-color, $saturation: 0%, $lightness: 50%);
        }
    }

}

.td-content {
    /* give the content less of a hard contrast */
    color: $main-text-color !important;

    p code {
        font-size: 1rem;
    }

    .highlight {
        code {
            font-size: 1rem !important;
        }
    }

    pre {
        border: $card-border-width solid #eee;
        @include border-radius($card-border-radius);
    }

    li>a>code {
        color: inherit;
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        word-break: normal;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 0.25rem;
    }

    /* Simple blockquote with neutral style */
    blockquote {
        border-left: 4px solid #ccc;
        color: black;
        padding: 0.75rem 1.25rem;
    }
}

.td-cover-block {

    /* Give the text on the start page more contrast */
    h1 {
        text-shadow: -1px -1px 20px lighten($dark, 5%), 2px 2px 5px $dark;
        font-size: 450%;
    }

    p.lead {
        text-shadow: -1px -1px 5px lighten($dark, 5%), 2px 2px 5px $dark;
        font-size: 120%;
        color: White !important;
    }
}

/* Force standard Bootstrap behavior for responsive navbar if partially overridden */
@include media-breakpoint-down(lg) {
    .td-navbar {
        flex-wrap: wrap !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none !important;
        flex-basis: 100%;
        /* Force full width to break line */
        width: 100%;
    }

    .navbar-expand-lg .navbar-collapse.show {
        display: block !important;
        max-height: calc(100vh - 60px);
        /* Use almost full available height */
        overflow-y: auto;
        /* Enable vertical scrolling */
    }

    .navbar-nav {
        flex-direction: column !important;
        /* Ensure items stack vertically */
        padding-bottom: 20px;
        /* Add some padding at the bottom */
    }

    /* Fix mobile dropdowns to open inline */
    .navbar-collapse .dropdown-menu {
        position: static !important;
        float: none !important;
        display: none;
        /* Hide by default, show on toggle */
        width: auto !important;
        margin-top: 0;
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
        padding-left: 20px;
        /* Indent submenu items */
    }

    .navbar-collapse .dropdown-menu.show {
        display: block !important;
    }

    .navbar-collapse .dropdown-item {
        color: rgba(255, 255, 255, 0.7) !important;
        /* Light text for dark background */
    }

    .navbar-collapse .dropdown-item:hover,
    .navbar-collapse .dropdown-item:focus {
        color: #fff !important;
        background-color: transparent !important;
    }
}

.td-sidebar-nav {
    font-family: $font-family-sidebar;

    ul {
        line-height: 1;
        /* ensure that when we wrap, the text does not look like a next logical line */

        .td-sidebar-link {
            padding-bottom: 0.5rem;
            /* give the links space in between to make wraped lines easier distinguishable from new lines*/

        }
    }
}

/* Hide the top navbar search input specifically on small screens */
@media (max-width: 991.98px) {

    /* Corresponds to Bootstrap's 'lg' breakpoint (up to 992px) */
    .td-sidebar__search {
        display: none !important;
    }
}

/* less indentation for menu ins less nav */
@media (min-width: 768px) {
    .td-sidebar-nav__section .ul-1 ul {
        padding-left: 1em;
    }
}

.pr-md-3 {
    padding-right: 0rem !important;
}

/* Dim the edit links on the TOC bar */
.td-page-meta {
    a {
        font-weight: normal;
        font-family: $font-family-sidebar;

    }
}

.td-toc {
    font-family: $font-family-sidebar;
}

/* just to display our TODO */
.todo {
    background-color: Yellow;

    &:before {
        content: "TODO";
        margin-right: 0.5rem;
    }
}

.alert {
    //border: 1px solid;
    border-radius: 4px;
}

.lead>code {
    color: $primary;
    font-size: 100%;
    padding: 0px 2px;
}

.image-description {
    color: #999;
    padding-top: 5px;
}

.imagebox {
    width: 95%;
    text-align: center;
    margin: 50px 0px;
}

/* Documentation Homepages Styles: */

.td-default main section:first-of-type {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.td-navbar-cover {
    background: $primary !important;

    .nav-link {
        text-shadow: none;
    }
}

.td-cover-block h1 {
    font-size: 300%;
    padding-top: 2rem;
}

.td-box--dark p>a:hover {
    color: #fff;
}

.col-xc {
    padding: 3%;
    float: left;
}

.td-cover-block .col-xc {
    background-color: rgba(64, 63, 76, 0.5);
}

.col-xc:hover {
    background-color: rgba(64, 63, 76, 0.8);
}

.col-xc>a {
    color: $light;
}

.col-xc p>a {
    color: #999;
}

.col-xc p>a:hover {
    color: $light;
}

/* overwriting settings from sidebar-tree.scss to use full page length for menu*/
@media (hover:hover) {
    .td-sidebar-nav {
        max-height: calc(100vh - 5rem);
        overflow-y: auto;
    }
}

@media (hover:none) {

    .td-sidebar {
        background-color: rgba(160, 0, 0, 0.03);
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 0px;
    }

    .td-sidebar__toggle {
        color: rgba(64, 63, 76, 0.5) !important;
        padding: 0px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        margin: 0px;
        border: 0px;
        width: 100%;
        text-align: left;
    }

    .dropdown-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-link {
        padding: 10px;
    }

    .td-sidebar-link {
        padding: 10px;
    }

    .td-sidebar-nav__section>ul {
        padding-left: 0.5rem;
    }
}