+++
title = "XLT Documentation"
linkTitle = "XLT Documentation"
+++



{{< blocks/cover title="XLT Documentation" image_anchor="top" height="auto">}}
<div class="mx-auto">
    <p class="lead mt-5">
            Here you will find everything you need to get started with XLT<br />and later take your performance testing to the next level.
    </p>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://www.xceptance.com/en/xlt/download.html" target="_blank">
		Download XLT<i class="fas fa-download ml-2 "></i>
	</a>	
</div>
<section class="row">
{{% blocks/feature3 icon="fa-question" title="About XLT" url="about-xlt" %}}
Learn more about the Xceptance Load Test tool, its features and architecture and whether or not it fits your needs.
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa fa-stopwatch" title="Quick Start" url="load-testing/quick-start" %}}
Dive into your first XLT performance test with XLT using our demo apps and demo test suite.
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa fa-book" title="Load Testing Manual" url="load-testing/manual" %}}
Here you will find all about performance testing with XLT, from basic concepts to detailed explanations for all the steps in your test cycle.
{{% /blocks/feature3 %}}
</section>
{{< /blocks/cover >}}

{{< blocks/section color="dark" type="features" >}}
{{% blocks/feature3 icon="fa-lightbulb" title="Open Source" %}}
XLT is licensed under the [Apache License Version 2.0](https://www.apache.org/licenses/LICENSE-2.0). This assures that the tool is here to stay and enables you to extend it if needed.
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fab fa-github" title="Contributions welcome!" %}}
You can contribute to [XLT](https://github.com/Xceptance/XLT/) as well as to [this documentation](https://github.com/Xceptance/xlt-documentation/) via issues and pull requests. Please don't hesitate to make the tool and its documentation better. 
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fab fa-twitter" title="Follow us on Twitter!" %}}
You can find information about updates and interesting reads in the [Twitter channel of Xceptance](https://twitter.com/Xceptance).
{{% /blocks/feature3 %}}
{{< /blocks/section >}}