+++
title = "XLT Documentation"
linkTitle = "XLT Documentation"
+++



{{< blocks/cover title="XLT Documentation" image_anchor="top" height="auto">}}
<div class="mx-auto">
    <p class="lead mt-5">
            Here you will find everything you need to get started with XLT and later take your performance testing to the next level.
    </p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about-xlt" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.xceptance.com/en/xlt/download.html" target="_blank">
		Download <i class="fas fa-download ml-2 "></i>
	</a>	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="light" %}}
XLT is a load and performance test tool that differs from other approaches due to its focus on high quality reporting and Java as programming language for the scripts. There are many ways to work with XLT and this documentation will show you some. It will explain features and functionalities and hopefully inspires you to take your performance testing to the next level.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features" >}}


{{% blocks/feature icon="fa-lightbulb" title="Open Source" url="https://github.com/Xceptance/XLT/" %}}
XLT is licensed under the [Apache License Version 2.0](https://www.apache.org/licenses/LICENSE-2.0). This assures that the tool is here to stay and enables you to extend it if needed.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Xceptance/xlt-documentation" %}}
You can contribute to XLT as well as to this documentation via issues and pull requests. Please don't hesitate to make the tool and its documentation better. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/Xceptance" %}}
You can find information about updates and interesting reads in the Twitter channel of Xceptance.
{{% /blocks/feature %}}


{{< /blocks/section >}}
