+++
title = "XTC Documentation"
linkTitle = "XTC Documentation"
+++



{{< blocks/cover title="Xceptance Test Center Documentation" height="auto">}}
{{< /blocks/cover >}}

{{< blocks/lead color="light" >}}
Xceptance Test Center (XTC) is the upcoming SaaS solution for XLT and related testing services, such as monitoring. This documentation as well as XTC itself are work in progress and will be progressively enhanced, in parts by your feedback.
{{< /blocks/lead >}}

{{< blocks/section color="dark" type="features" >}}


{{% blocks/feature3 icon="fa-lightbulb" title="Basics" url="basics" url_text="More about XTC"%}}
Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa-star" title="Load Testing in XTC" url="load-testing" url_text="Load Testing with XTC"%}}
Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. 
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa-user" title="Monitoring in XTC" url="monitoring" url_text="XTC Monitoring" %}}
Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
{{% /blocks/feature3 %}}


{{< /blocks/section >}}
