+++
title = "XTC Documentation"
linkTitle = "XTC Documentation"
+++



{{< blocks/cover title="Xceptance Test Center Documentation" height="auto">}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://xtc.xceptance.com/register" target="_blank">
        Get Your Free Account <i class="fas fa-user-plus ml-2 "></i>
    </a>    
</div>

<section class="row">
{{% blocks/feature3 icon="fa-paperclip"  title="Basics" url="basics" url_text="More about XTC"%}}
XTC (Xceptance Test Center) is the working title of a SaaS offering to deliver XLT as a service. It helps you to speed up the more tedious tasks of load testing while it allows you to easily set up, configure, and run load tests, evaluate and share the results, and run continuous monitoring.

**Learn more**
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa-chart-bar" title="Load Testing in XTC" url="load-testing" url_text="Load Testing with XTC"%}}
XTC helps you to streamline your usual load testing work by a mass of helpful features it puts on top of what’s already included in XLT. It simplifies the test setup, runs tests, collects the results, and creates reports which you can easily share.

**Learn more**
{{% /blocks/feature3 %}}


{{% blocks/feature3 icon="fa-bell" title="Monitoring in XTC" url="monitoring" url_text="XTC Monitoring" %}}
XTC can be used to monitor your applications. By regularly running test cases, XTC will provide you an overview of the performance and availability of your application over time, providing lots of data and possibly valuable insights.

**Learn more**
{{% /blocks/feature3 %}}
</section>
{{< /blocks/cover >}}