+++
title = "XLT and XTC Documentation Hub"
linkTitle = "The online documentation for the Xceptance tools and services XLT and XTC"

+++

{{< blocks/cover title="Welcome to the Xceptance Documentation Hub!" image_anchor="top" height="auto">}}
<section class="row">
{{% blocks/feature2 image="home/XLT-logo-light.svg" title="XLT Documentation" url="/xlt" url_text="More about Load Testing with XLT"%}}
XLT is a load and performance test tool that differs from other approaches due to its focus on high-quality reporting and Java as programming language for the scripts. 
The documentation will explain how to work with XLT and get the most out of it.<br/></brz>XLT is open source under Apache License 2.0.
{{% /blocks/feature2 %}}


{{% blocks/feature2 image="home/XTC-logo-light.svg" title="XTC Documentation" url="/xtc" url_text="More about Xceptance Test Center"%}}
XTC is a commercial software-as-a-service offering that seamlessly integrates our testing tools under a single roof. 
It lets you manage, configure, control, and evaluate load and performance tests, monitoring, and test automation for web applications or APIs from the cloud.
{{% /blocks/feature2 %}}
</section>
{{< /blocks/cover >}}
