+++
title = "XLT Documentation"
linkTitle = "XLT Documentation"

+++

{{< blocks/cover title="Welcome to the Xceptance Documentation Hub!" image_anchor="top" height="auto">}}
<section class="row">
{{% blocks/feature2 image="home/XLT-logo-light.svg" title="XLT Documentation" url="/xlt" url_text="More about Load Testing with XLT"%}}
XLT is a load and performance test tool that differs from other approaches due to its focus on high quality reporting and Java as programming language for the scripts. There are many ways to work with XLT and this documentation will show you some. It will explain features and functionalities and hopefully inspires you to take your performance testing to the next level.
{{% /blocks/feature2 %}}


{{% blocks/feature2 image="home/XTC-logo-light.svg" title="XTC Documentation" url="/xtc" url_text="More about Xceptance Test Center"%}}
Xceptance Test Center (XTC) is the upcoming SaaS solution for XLT and related testing services, such as monitoring. This documentation as well as XTC itself are work in progress and will be progressively enhanced, in parts by your feedback. 
{{% /blocks/feature2 %}}


{{% blocks/feature2 image="home/neo-logo-TODO.svg" title="Neodymium Documentation" url="/neodymium" url_text="More about Xceptance Test Center"%}}
How do those fricking magnets work and why do they automate browsers
{{% /blocks/feature2 %}}


</section>
{{< /blocks/cover >}}
