name: Deploy documentation

on:
  push:
    branches: 
      - main # Set a branch to deploy
  workflow_dispatch:
    
jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
          submodules: true # Fetch Hugo themes/modules

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.152.2'
          extended: true

      - name: Cache Hugo modules
        uses: actions/cache@v4
        with:
          path: /tmp/hugo_cache
          key: ${{ runner.os }}-hugo-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-hugo-

      - name: Build the documentation
        env:
            HUGO_CACHEDIR: /tmp/hugo_cache
        run: hugo --gc --minify

      - name: Install lftp
        run: sudo apt-get install lftp

      - name: Mirror the documentation on the FTP 
        run: .github/workflows/scripts/mirrorftp ${{ secrets.FTP_USERNAME }} ${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_HOST }}
